pipeline/rijksmuseum.json
{
	"name": "rijksmuseum",
	"properties": {
		"activities": [
			{
				"name": "rijsmuseum-collections",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://www.rijksmuseum.nl/api/nl/collection?key=6epvixwD",
					"method": "GET"
				}
			},
			{
				"name": "loop-trough-art-objects",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "rijsmuseum-collections",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('rijsmuseum-collections').output.artObjects",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "download_image",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "write_image",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"art-objects": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}