pipeline/rijksmuseum.json
{
	"name": "rijksmuseum",
	"properties": {
		"activities": [
			{
				"name": "rijsmuseum-collections",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://www.rijksmuseum.nl/api/nl/collection?key=6epvixwD",
					"method": "GET"
				}
			},
			{
				"name": "loop-trough-art-objects",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "rijsmuseum-collections",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('rijsmuseum-collections').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "art-objects",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"art-objects": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}